.mainpageContainer {
  font-family: "Roboto", sans-serif;
  width: 70%;
  text-align: center;
  margin: 30px auto;
  position: relative;
}

.backgroundEffect {
  position: absolute;
  z-index: -1;
  background: #2f06ff;
  opacity: 30%;
  filter: blur(250px);
  border-radius: 50%;
  pointer-events: none;
}

.backgroundEffect1 {
  width: 1100px;
  height: 1100px;
  top: 0%;
  right: 0%;
}

.backgroundEffect2 {
  width: 1300px;
  height: 1300px;
  top: 100%;
  left: 7%;
}

.backgroundEffect3 {
  opacity: 70%;
  background: linear-gradient(
    143.57deg,
    rgba(233, 219, 219, 0.6) 32.96%,
    rgba(205, 222, 255, 0.6) 87.79%
  );
  filter: blur(100px);
  width: 600px;
  height: 600px;
  right: 0%;
  top: 200%;
}

.backgroundEffect4 {
  opacity: 90%;
  background: linear-gradient(
    143.57deg,
    rgba(233, 219, 219, 0.6) 32.96%,
    rgba(205, 222, 255, 0.6) 87.79%
  );
  filter: blur(100px);
  width: 1131px;
  height: 1055px;
  left: -178px;
  top: -8px;
}

.mainpageHeader {
  &Platformname {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 75px;
  }

  .mainpageNav {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 80px;
    top: 10px;
    gap: 20px;

    .navLink {
      display: flex;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.welcomeSection {
  &Greeting {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 60px;
    margin-bottom: 25px;

    h1 {
      font-weight: 700;
      font-family: "Inter", sans-serif;
      padding-right: 40px;
    }
  }

  .banner {
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 60px;
    margin-bottom: 50px;

    &Info::before {
      content: " ";
      display: block;
      background: #878bfd;
      opacity: 0.8;
      filter: blur(100px);
    }

    &Info {
      position: relative;
      padding-left: 60px;

      &Platformname {
        font-weight: 700;
        font-size: 30px;
        text-align: left;
      }

      &BlurWrapper {
        position: relative;
        padding-bottom: 75px;
      }

      &BlurWrapper::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        background: #878bfd;
        opacity: 0.8;
        filter: blur(100px);
        z-index: 0;
        pointer-events: none;
      }

      &Subtitle {
        font-weight: 600;
        font-size: 96px;
        color: #2f2818;
        line-height: 75px;
        text-align: left;
        position: relative;
        z-index: 1;
      }

      &Description {
        color: #3d3d3d;
        font-size: 48px;
        line-height: 60px;
        font-weight: 500;
        text-align: right;
      }
    }

    &Image {
      width: 50%;
      margin-right: 55px;
    }
  }
}

.chartSection {
  justify-content: flex-end;
  background-color: white;
  border-radius: 60px;
  padding: 25px 20px;
  margin-bottom: 25px;

  &Search {
    width: 90%;
    background-color: #ececec;
    border: none;
    border-radius: 30px;
    opacity: 70%;
    height: 50px;
    padding: 0 20px;
    font-size: 24px;
  }
}

.uploadsSection {
  justify-content: flex-end;
  background-color: white;
  border-radius: 60px;
  padding: 25px 20px;
}

.mainpageFooter {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}